<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js"></script>
  </head>
  <body>
    <h1>
      Express JS
    </h1>
    
    <h4>
      Welcome to Express JS
    </h4>
    <h5>
      Hi, my name is <%= name %>
    </h5>
    <img src="/image/elgatto.png"/>
  </body>
</html>